<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.charm.SonosWidget.refresh</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.charm.SonosWidget.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sonoswidget</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>music.126.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_sonos._tcp</string>
		<string>_hue._tcp</string>
		<string>_charmrelay._tcp</string>
	</array>
	<key>SonosOAuthClientID</key>
	<string>$(SONOS_OAUTH_CLIENT_ID)</string>
	<key>SonosOAuthClientSecret</key>
	<string>$(SONOS_OAUTH_CLIENT_SECRET)</string>
	<key>SonosOAuthRedirectURI</key>
	<string>$(SONOS_OAUTH_REDIRECT_URI)</string>
</dict>
</plist>
